@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<div class="top-row p-2 bg-white mb-2 border-3 border-start border-success">
    <h4>Counter</h4>
</div>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
