@page "/"

<PageTitle>Home</PageTitle>
<div class="top-row p-2 bg-white mb-2 border-3 border-start border-success">   
    <h4 class="mt-2"><i class="bi bi-house"></i> Inicio</h4>
</div>

<div class="card h-75">
    <div class="card-body">
        <h5>Neitek challenge Rodrigo Del Angel Hurtado</h5>
    </div>
</div>